@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@0..200,0..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

body {
    background: rgb(86,18,91);
    background: linear-gradient(339deg, rgba(86,18,91,1)0%, rgba(40,10,80,1) 100%);
    min-height: 100vh;
    text-align: center; 
    font-family: "Montaga", serif;
}

h1 {
    font-family: 'Nabla', cursive;
    margin-top: 100px;
    font-size: 10rem;
}