@import "./rest"; 
body.active{
    background: #0c0303;
    color: rgb(237, 223, 223);
}
.wrapper{
    width: 100%;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .logo{
        width: 100px;
        height: 80px;
        img{
            display: block;
            width: 80px;
            height: 80px;
            margin-left: 10px;
        }
    }
    .header_title{
        margin: 10px auto;
        h1{
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(179, 112, 112);
        }
    }
    .list{
        width: 300px;
        display: flex;
        // ul{
        //     padding: 10px;
        // }
        // ul li{
        //     display: inline-block;
        //     padding: 5px;
        // }
        // ul li button {
        //     color: rgb(89, 82, 82);
        //     text-transform:uppercase;
        //     font-size: 11px;
        //     transition: .3s;
        //     font-family: Verdana, Geneva, Tahoma, sans-serif;
        // }
        // ul li button:hover{
        //     color: black;
        //     font-size: 13px;
        // }
        #toggle.active {
            background: #ffff;
            box-shadow: inset 0 8px 20px rgba(0,0,0,0.5),
                        inset 0 4px 4px rgba(0,0,0,0.2),
                        inset 0 -4px 4px rgba(0,0,0,0.2);;
        }
        #toggle{
            position: relative;
            display: block;
            width: 60px;
            height: 30px;
            border-radius: 100px;
            cursor: pointer;
            background-color: #222;
            transition: 0.5s;
            box-shadow: inset 0 8px 20px rgba(0,0,0,0.1),
                        inset 0 8px 8px rgba(0,0,0,0.1),
                        inset 0 -4px 4px rgba(0,0,0,0.1);
            .indicator{
                position: absolute;
                top: 0;
                left: 0px;
                width: 25px;
                height: 30px;
                background: linear-gradient(to bottom, #444,#222);
                border-radius: 50%;
                transform: scale(0.9);
                box-shadow: 0 8px 10px rgba(0,0, 0, 0.5),
                            inset 0 -4px 4px rgba(255,255, 255, 0.2);
                transition: 0.5s;            
            }            
        }
        #toggle.active .indicator{
            left: 30px;
        }
    }
}
.categories{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    
    .list-avto{
        width: 25%;

        ul li{
            display: block;
            margin: 5px;
        }
        ul li button {
            text-transform:uppercase;
            color:rgb(89, 82, 82);
            transition: .3s;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        ul li button:hover{
            color:rgb(38, 30, 30);
        }
    }
    .corusel-avto {
        width: 75%;
        height: 100vh;
        margin-right: 20px;

        .atvo-list-corusel {
            display: flex;
            overflow: hidden;
            ul li{
                display: inline-block;
                width: 138px;
                height: 138px;
                 img{
                    display: block;
                    width: 100%;
                 }
            }
        }
    }
    .model-avto{
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-right: 20px;
        .photo-avto {
            width: 60%;
            img{
                display: block;
                width: 100%;
            }
        }
       .characteristic-list{
        width: 30%;
        margin-left: 10px;
        padding-top: 10px;
            ul li{
                display: block;
                margin: 10px;
                font-size: 20px;
                ul li button{
                    display: block;
                    padding: 5px;
                    margin: 10px;
                    font-size: 15px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }
           
       }
    }
    
}