.js-open-madal {
    width: 120px;
    padding: 5px;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.js-open-madal:hover{
    background-color: rgb(113, 128, 0);
    color: rgb(14, 6, 6);
}

.js-open-madal:active{
    background-color: rgb(45, 0, 128);
    color: rgb(241, 233, 233);
}



.modal-body{
    margin: 50px auto;
    text-align: center;
    width: 370px;
    height: 280px;
    background-color: rgb(236, 161, 134);
    border-radius: 10px;
    transform: translateY(-2380px);   
    scale: 0.1;
    transition: 1.5s ease-out;
}

.modal-body h2,p{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.modal-body button {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.js-open-close{
    width: 120px;
    padding: 5px;
    background-color: rgb(214, 18, 18);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.modal-active {
    margin: 50px auto;
    text-align: center;
    width: 370px;
    height: 280px;
    background-color: rgb(236, 161, 134);
    border-radius: 10px;
    transform: translateY(10px);
    scale: 1;
    transition: 1.5s ease-out;
}